<h1>Login!</h1>


<%= form_for(:user) do |f|%>

  <% if @user.errors.any? %>
        <div id= "error_explanation">
            <h2> <%= @user.errors.size%> error(s): </h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log In" %>
<% end %>