<h1>Sign up to create stories! </h1>

<%= render partial: "/shared/errors", locals: {object: @user} %>

<%= form_for @user do |f| %>

    First Name: <%= f.text_field :first_name %> <br>
    Last Name: <%= f.text_field :last_name %><br>
    Email: <%= f.text_field :email %><br>
    Bio: <%= f.text_area :bio %><br>
    Password: <%= f.password_field :password %><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br><br>
    <%= f.submit "Submit" %>
  <% end %>
