<h1><%= @user.email%>'s Story Chains </h1>
<h3><%= @user.first_name %> <%= @user.last_name %></h3>

<h3><%= @user.bio %> </h3>

<a href="/stories/new">Create a New Story</a><br>
<%= link_to "All Stories", stories_path, method: :get %>
<br><br>

<%= link_to "Log Out", logout_path, method: :delete %>

<br>

<h3> <%=@user.first_name%> has contributed to Story Chains
  <%= @user.contributions.count %>
    times: </h3>

<ul>
  <% @user.contributions.reverse.each do |c|%>
    <li>  <%= link_to c.story.hook, story_path(c.story) %> </li>
  <% end %>
</ul>

