<h1>Welcome to your story chains, <%= @user.first_name %> </h1>
<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<h3>"<%= @user.bio %>" </h3>

<br>

<h3>You have started 
  <%= @user.contributions.count %>
    story chains, <%=@user.first_name%>:</h3>
<ul>
  # <% @user.contributions.each do |s|%>
  #   <li>  <%= link_to story_path(s) %> </li>
  # <% end %>
  <% @stories.hook.each do |story| %>
    <li><%= link_to story.hook, story_path(story) %> </li>
    <% end %>
</ul>

<a href="/stories/new">Create a New Story</a><br>
<%= link_to "All Stories", stories_path, method: :get %>
<br><br>

<%= link_to "Log Out", logout_path, method: :delete %>